body{
	background-color:#EAD2AC;
}

.header {
	background-color:white;
	text-align:center;
	margin-top:100px;
}

.navbar-brand{font-size:20px;
			background-image: 
}

.card-title{:pink;}

img {
	width:100%;
}

.left {
	background-color:green;
	width: 50%;
    float: left;
}

.right {
	background-color:blue;
    width:50%;
    float: left;

 }
.info{
	color: green
}

.fa{
	font-size:30px; color:#4357AD;  text-align:center;
}


.fashion{
	width:100%;
}
